
.idea/libraries/lib.xml
.idea/libraries/lib.xml
.idea/uiDesigner.xml
.idea/libraries/lib.xml
.idea/libraries/lib.xml
.idea/misc.xml
.idea/modules.xml
TPPE-TP.iml
*.txt
tp/target/surefire-reports/test.java.app.AppTest.txt
tp/target/
.idea/*